<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image class="logo" src="~/images/logo.png"></Image>
        <Label class="header" text="ACME"></Label>

        <Button text="Log In with Active Directory" 
            (tap)="logInWithAD()" class="btn btn-primary m-t-20" width="100%"></Button>
        <Button text="Log In with Google" 
            (tap)="logInWithGoogle()" class="btn btn-primary m-t-20" width="100%"></Button>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span text="Don’t have an account? "></Span>
            <Span text="Sign up" class="bold" (tap)="signIn()"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>